@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;800&display=swap');


:root {
    --background-light: rgb(255, 225, 225);
    --background-middle: rgb(192, 75, 75);
    --background-strong: brown;
    --letter-white: rgb(255, 225, 225);
    --letter-lighter: rgb(253, 222, 222);
    --letter-light: rgb(253, 194, 194);
    --letter-middle: rgb(192, 75, 75);
    --letter-strong: brown;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Inter', sans-serif;
}



/* #################### SECTION HEADER ####################*/
header {
    background-color: var(--background-middle);
    display: flex;
    justify-content: space-around;
    padding: 30px;
    position: sticky;
    top: 0;
}
.logo {
    color: var(--letter-light);
    font-size: 1.8rem;
    font-weight: 800;
}
.nav a {
    color: var(--letter-light);
    font-size: 1.2rem;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
    text-decoration: none;
}





/* #################### SECTION MAIN ####################*/
main {
    display: flex;
    flex-direction: column;
    gap: 30px;
}


/* ########## Section1 ########## */
.section1 {
    background-color: var(--background-middle);
    display: flex;
    justify-content: space-around;
    padding: 70px 250px;
}
.section1-div1 h2 {
    color: var(--letter-light);
    font-size: 3.5rem;
    font-weight: 800;
    margin-bottom: 15px;
    width: 500px;
}
.section1-div1 p {
    color: var(--letter-light);
    font-size: 1rem;
    margin-bottom: 15px;
    width: 550px;
}
.section1-div1 button {
    background-color: var(--background-strong);
    border-radius: 10px;
    color: var(--letter-lighter);
    font-size: 1rem;
    font-weight: 800;
    height: 40px;
    width: 150px;
}
.section1-div2 img {
    border-radius: 20px;
}



/* ########## Section2 ########## */
.section2 {
    display: flex;
    flex-direction: column;
    padding: 70px 225px;
}
.section2 h2 {
    color: var(--letter-strong);
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 50px;
    text-align: center;
}
.section2-div {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px;
}
.section2-div1 {
    font-size: 1rem;
    text-align: center;
}
.section2-div1 p {
    color: var(--letter-strong);
    margin-top: 20px;
    max-width: 225px;
}
.section2-div1 img {
    border-radius: 10px;
}



/* ########## Section3 ########## */
.section3 {
    background-color: var(--background-light);
    color: var(--letter-strong);
    display: flex;
    justify-content: center;
    padding: 150px;
}
.section3-div1 h2{
    font-size: 3rem;
    font-style: italic;
    font-weight: 100;
    width: 1200px;
}
.section3-div2 {
    display: flex;
    justify-content: flex-end;
    font-size: 1.5rem;
    font-weight: 600;
}



/* ########## Section4 ########## */
.section4 {
    margin: 50px 300px;
}
.section4-div {
    align-items: center;
    background-color: var(--background-strong);
    border-radius: 20px;
    display: flex;
    gap: 70px;
    justify-content: space-between;
    padding: 50px 150px;
}
.section4-div1 {
    color: var(--letter-white);
}
.section4-div1 h3 {
    font-size: 2rem;
    margin-bottom: 10px;
}
.section4-div1 p {
    font-size: 1rem;
}
.section4-div2 button {
    background-color: var(--background-strong);
    color: var(--letter-lighter);
    border: 2px solid rgb(255, 225, 225);
    border-radius: 10px;
    font-size: 1.3rem;
    font-weight: 800;
    height: 40px;
    width: 150px;
}





/* #################### SECTION MAIN ####################*/
.copyright {
    background-color: var(--background-middle);
    color: var(--letter-lighter);
    display: flex;
    font-size: 1rem;
    justify-content: center;
    margin-top: 40px;
    padding: 40px;
}
